{% extends 'task/base.html' %}

{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <form action="" method="POST">
                            {% csrf_token %}                          
                            <div class="mb-3 mt-5">
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                        {% comment %} <div class="row">
                            <div class="col-12">
                            <button class="btn btn-sucsses">Done</button>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        <div class="col-3">
        </div>
    </div>
</div>
{% endblock %}
  